body {
    background-color:  red;
    padding: 10px 10px 10px 10px;
    margin: 0px;
    border: 0px;
    
}
.container {
    height: 605px; width: 1007px;
    position: relative; display: flex;
    flex-direction: column; align-content: center; gap: 25px;
     background-color: white;
     border: 10px 10px 10px 10px;
     padding: 20px 20px 20px 20px;
     border-radius: 20px;}

            /* here are all the boxes  */ 
.container .box1 {height: 85px; width: 425px; background-color: blue; display: flex; align-items: center; gap:180px;}
.container .box2 {height: 85px; width: 425px; background-color: green;display: flex; flex-direction: column;}
.container .box3 {height: 85px; width: 425px; background-color: greenyellow;display: grid; grid-template-columns: 1fr 1fr; gap: 10px;  }
.container .box4 {height: 85px; width: 425px; background-color: plum; display: grid; grid-template-columns:auto; align-items: self-start; gap: 10px; padding: 0px 0px 0px 0px;}
.container .box5 {height: 85px; width: 425px; background-color: yellow; display:flexbox; align-content: center ;gap:0px;}


.container2{
    height:605px ;
    width: 502px;
    background-color:hsl(202, 55%, 16%);
    border-radius: 0px 20px 20px 30px;
    padding: 20px 20px 20px 20px;
    border: 0px 0px 0px 0px;
    color: aliceblue;
    position: relative;
    position: absolute;
    top: 0px; /* Half of box1 */
    right: 0px; /* Centering the overlap */}


   